{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{% trans "Account Inactive" %}</h1>

                <p>{% trans "This account is inactive." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
