{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{% trans "Change Password" %}</h1>
                <hr>
                <p>{% trans 'Your password is now changed.' %}</p>

            </div>
        </div>
    </div>
{% endblock %}
