{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Edit {{ title }} Details{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% crispy form %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p><a href="javascript:void(0);" class="pull-right toggle-guide">Formatting Guide</a></p>
            <br>
            <div class="formatting-guide" style="display: none;">
                <table class="table table-striped table-condensed table-bordered table-responsive markdown">
                    <thead>
                        <tr>
                            <th>Markdown</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>*Italics*</td>
                            <td><i>Italics</i></td>
                        </tr>
                        <tr>
                            <td>**Bold**</td>
                            <td><b>Bold</b></td>
                        </tr>
                        <tr>
                            <td>~~Strikethrough~~</td>
                            <td><del>Strikethrough</del></td>
                        </tr>
                        <tr>
                            <td>Super^script^</td>
                            <td>Super<sup>script</sup></td>
                        </tr>
                        <tr>
                            <td>
                                # Header 1<br>
                                ## Header 2<br>
                                ### Header 3<br>
                            </td>
                            <td>
                                <h1 id="header-1">Header 1</h1>
                                <h2 id="header-2">Header 2</h2>
                                <h3 id="header-3">Header 3</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Horizontal Rule<br>
                                ***
                            </td>
                            <td>
                                <p>Horizontal Rule</p>
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                * Unordered List Item 1<br>
                                * Unordered List Item 2<br>
                                * Unordered List Item 3
                            </td>
                            <td>
                                <ul>
                                    <li>Unordered List Item 1</li>
                                    <li>Unordered List Item 2</li>
                                    <li>Unordered List Item 2</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1. Ordered List Item 1<br>
                                2. Ordered List Item 2<br>
                                3. Ordered List Item 3
                            </td>
                            <td>
                                <ol>
                                    <li>Ordered List Item 1</li>
                                    <li>Ordered List Item 2</li>
                                    <li>Ordered List Item 3</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>`Code`</td>
                            <td><code>Code</code></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Normal Text<p>
                                <p style="white-space: pre;">    Preformatted Text</p>
                            </td>
                            <td>
                                <p>Normal Text<p>
                                <pre><code>Preformatted Text</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>&lt;https://shiranai.moe&gt;</td>
                            <td><a href="https://shiranai.moe">https://shiranai.moe</a></td>
                        </tr>
                        <tr>
                            <td>[Fridey Night](https://shiranai.moe "Home Along")</td>
                            <td><a href="https://shiranai.moe" title="Home Along">Fridey Night</a></td>
                        </tr>
                        <tr>
                            <td>
                                &gt;Block Quote<br>
                                &gt;&gt;Nested Quote
                            </td>
                            <td>
                                <blockquote>
                                    Block Quote
                                    <blockquote>
                                        Nested Quote
                                    </blockquote>
                                </blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Left Aligned|Center Aligned|Right Aligned<br>
                                :---|:---:|---:<br>
                                Alpha|Bravo|Charlie<br>
                                Delta|Echo|Foxtrot<br>
                            </td>
                            <td>
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Left Aligned</th>
                                            <th>Center Aligned</th>
                                            <th>Right Aligned</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="left">Alpha</td>
                                            <td align="center">Bravo</td>
                                            <td align="right">Charlie</td>
                                        </tr>
                                        <tr>
                                            <td align="left">Delta</td>
                                            <td align="center">Echo</td>
                                            <td align="right">Foxtrot</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                [TOC]<br>
                                # TOC 1<br>
                                Table of Contents 1<br>
                                ## TOC 2<br>
                                Table of Contents 2<br>
                            </td>
                            <td>
                                <div class="toc">
                                    <ul>
                                        <li><a href="#toc-1">TOC 1</a>
                                            <ul>
                                                <li><a href="#toc-2">TOC 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <h1 id="toc-1">TOC 1</h1>
                                <p>Table of Contents 1</p>
                                <h2 id="toc-2">TOC 2</h2>
                                <p>Table of Contents 2</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('.toggle-guide').click(function() {
                $('.formatting-guide').slideToggle();
            });
        });
    </script>
{% endblock %}