{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block head_title %}{{ title }} Images | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 sidebar">
                {% crispy form %}
                <hr>
                <a href="{% url 'build_manage' slug %}" class="btn btn-default"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Return To Build</a>
            </div>
            {% if images %}
                <div class="col-md-9" id="lightgallery">
                    {% for image in images %}
                        <div class="col-md-2 build-gallery">
                            <div>
                                <a href="{{ image.image.url }}" class="lightbox-img">
                                    {% thumbnail image.image "128x128" crop="center" as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}"
                                             width="{{ im.width }}"/>
                                    {% endthumbnail %}
                                </a>
                            </div>
                            <div>
                                <form method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-xs" formaction="{% url 'build_image_del' image.id %}"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete Image</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-md-9"><p>You haven't uploaded any images yet.</p></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('#id_image').change(function () {
                $('#id_image_form').submit();
            });
            $("#lightgallery").lightGallery({
                selector: '.lightbox-img'
            });
        });
    </script>
    <script>

    </script>
{% endblock %}