{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}{{ part }} Review | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        $(document).ready(function() {
            var form_rating = $('#id_rating');

            $('#rateYo').rateYo({
                fullStar: true,
                rating: form_rating.val() ? form_rating.val() : 0,
                onSet: function (rating, rateYoInstance) {
                    form_rating.val(rating);
                }
            });
        });
    </script>
{% endblock %}