{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load markdown_tags %}
{% load parts_extras %}

{% block head_title %}{{ build.title }} | BYOG{% endblock %}

{% block content %}
    <div class="container-fluid build-banner">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ build.title }}</h1>
                    {% if user_image %}
                        {% thumbnail user_image "96x96" crop="center" as im %}
                            <a href="{{ user_image.url }}">
                                <img class="img-circle build-user-image" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                            </a>
                        {% endthumbnail %}
                    {% else %}
                        <a href="{% static 'img/default_avatar.png' %}">
                            <img class="img-circle build-user-image" src="{% static 'img/default_avatar.png' %}" width="96" height="96">
                        </a>
                    {% endif %}
                <p class="build-byline">By <a href="{{ build.user.get_absolute_url }}">{{ build.user.username }}</a></p>
            </div>
            {% if not build_manage %}
                <div>
                    <a href="javascript:void(0);" onclick="VoteBuild('{{ build.slug }}')" class="btn btn-primary" id="build-vote-btn">
                        <i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i>
                        <span id="build-score">{{ build.score }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if build.buildimage_set.count > 0 %}
        <div class="container">
            <div class="row">
                <div class="img-carousel" id="lightgallery">
                    {% for img in build.buildimage_set.all %}
                        <div>
                            <a href="{{ img.image.url }}" class="lightbox-img">
                                {% thumbnail img.image "128x128" crop="center" as im %}
                                    <img src="{{ im.url }}" height="{{ im.height }}"
                                         width="{{ im.width }}"/>
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h4 class="serif-text">Part List</h4>
                <hr>
                <ul class="build-part-list">
                {% for item in items %}
                    <li>
                        <div class="build-item">

                            <div class="build-image-col">
                                {% if item.part.image %}
                                    <a href="{{ item.part.image.url }}">
                                        {% thumbnail item.part.image "40x40" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="build-image">
                                        {% endthumbnail %}
                                    </a>
                                {% else %}
                                    <img src="{% static 'img/No_image_available.png' %}" class="no-build-image"/>
                                {% endif %}
                            </div>

                            <div class="build-part-text">
                                <small>{{ item.get_category_display }}</small>
                                <p><a href="{{ item.part.get_absolute_url }}"><b>{{ item }}</b></a></p>
                                {% if item.custom_price %}
                                    <div class="build-price pull-right">{{ item.custom_price }}</div>
                                {% elif item.price %}
                                    <div class="build-price pull-right">{{ build.get_currency_display }}{{ item.price }}</div>
                                {% else %}
                                    <div class="build-price pull-right">N/A</div>
                                {% endif %}
                            </div>

                        </div>
                    </li>
                    <hr>
                {% endfor %}

                {% for custom in custom_items %}
                    <li>
                        <div class="build-item">
                            <div class="build-image-col">
                                <img src="{% static 'img/No_image_available.png' %}" class="no-build-image"/>
                            </div>

                            <div class="build-part-text">
                                <small><em>Custom</em> {{ custom.get_category_display }}</small>
                                <p>
                                    {% if custom.url %}
                                        <a href="javascript:void(0);" class="user-url"><b>{{ custom.part }}</b></a>
                                    {% else %}
                                        <b>{{ custom.part }}</b>
                                    {% endif %}
                                </p>
                                <span class="pull-right">{{ build.get_currency_display }}{{ custom.price }}</span>
                            </div>
                        </div>
                    </li>


                    {% if custom.url %}
                        <div class="build-custom-url">
                            <p class="bg-warning" align="center">
                                Warning: This is a user-provided URL.
                                <br>
                                Follow at your own risk.
                                <br>
                                {{ custom.url }}
                            </p>
                        </div>
                    {% endif %}

                    <hr>
                {% endfor %}
                    <li>
                        <small class="build-total">Total:</small>
                        <span class="pull-right"><b>{{ build.get_currency_display }}{{ build.total_price }}</b></span>
                    </li>
                </ul>
                <hr>
                {% if build_manage %}
                    <div class="col-md-10">
                        <h4 class="serif-text"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Build Management</h4>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            <ul class="list-group">
                                <li><a href="{% url 'build_image' build.slug %}" class="list-group-item"><i class="fa fa-camera fa-fw" aria-hidden="true"></i> Edit Images</a></li>
                                <li><a href="{% url 'build_edit' build.slug %}" class="list-group-item"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit Description</a></li>
                                <li><a href="{% url 'build_confirm_edit' build.slug build.user  %}" class="list-group-item"><i class="fa fa-list fa-fw" aria-hidden="true"></i> Edit Part List</a></li>
                                <li><a href="{% url 'build_review' build.slug %}" class="list-group-item"><i class="fa fa-star fa-fw" aria-hidden="true"></i> Write A Review</a></li>
                                <li><a href="{% url 'build_confirm_del' build.slug build.user %}" class="list-group-item"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete This Build</a></li>
                            </ul>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-8 build-description">
                <h4>Description</h4>
                <hr>

                <blockquote>
                    <i>{{ build.deck }}</i>
                </blockquote>

                <div class="build-body markdown">
                    {{ build.description|mark_down }}
                </div>

                <div class="build-body">
                    <h4 class="serif-text">Part Reviews</h4>
                    <hr>
                    {% if build.partreview_set.exists %}
                        {% for review in build.partreview_set.all %}
                            <div class="review-item">
                                <div>
                                    <a href="{{ review.part.get_absolute_url }}">
                                        {% if review.part.image %}
                                            <span>
                                                {% thumbnail review.part.image "40x40" crop="center" as im %}
                                                    <img class="review-image" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                                                {% endthumbnail %}
                                            </span>
                                        {% else %}
                                            <img src="{% static 'img/No_image_available.png' %}" class="no-review-image"/>
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="review-part">
                                    <small class="text-muted">{{ review.part.get_category_display }}</small>
                                    <p><a href="{{ review.part.get_absolute_url }}">{{ review.part }}</a></p>
                                </div>
                            </div>

                            <div class="review-rating">
                                <p>{{ review.rating|star_ratings }}</p>
                                <p>{{ review.review }}</p>
                                <p><a href="{{ review.get_absolute_url }}">Comment</a></p>
                                {% if not forloop.last %}<hr>{% endif %}
                            </div>

                        {% endfor %}
                    {% elif build_manage %}
                        <p>You haven't written any reviews yet.</p>
                    {% else %}
                        <p>{{ build.user }} hasn't written any reviews yet.</p>
                    {% endif %}
                </div>

                <h4>Share</h4>
                <hr>
                <label for="list-permalink" class="serif-text"><i class="fa fa-link" aria-hidden="true"></i> Permalink: </label>
                    <div class="row share">
                        <div class="form-group col-md-4">
                            <input class="form-control" id="list-permalink" type="text"
                                   value="{{ site }}"
                                   onclick="this.select()">
                        </div>
                        <div class="col-md-8 export-controls">
                            <div class="serif-text"><b><i class="fa fa-upload fa-fw" aria-hidden="true"></i> Export:</b></div>
                            <div class="btn-group btn-export">
                                <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('markdown', '{{ build.slug }}')"><img src="{% static 'img/markdown.png' %}" height="30" width="30" alt="Markdown"></a>
                                <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('bbcode', '{{ build.slug }}')"><img src="{% static 'img/bbcode.png' %}" height="30" width="30" alt="BBCode"></a>
                                <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('html', '{{ build.slug }}')"><img src="{% static 'img/html.png' %}" height="30" width="30" alt="HTML"></a>
                                <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('text', '{{ build.slug }}')"><img src="{% static 'img/text.png' %}" height="30" width="30" alt="Plain Text"></a>

                            </div>
                        </div>
                    </div>

                    <div id="export-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Export {{ build.title }}</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <label><textarea class="form-control" id="export-text" style="max-width: 100%;" rows="12" cols="80"></textarea></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if disqus %}
                        {{ disqus|safe }}
                    {% endif %}

                    <div id="disqus_thread"></div>
                    <script>
                        {% if not disqus %}
                            var disqus_config = function () {
                                this.page.url = '{{ site }}';
                                this.page.identifier = '{{ build.slug }}';
                            };
                        {% endif %}

                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//shiranai-moe.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.build-body > table').addClass('table table-bordered table-responsive');

            $('.user-url').click(function () {
                $(this).parents('li').next('.build-custom-url').slideToggle('fast');
            });

            startSlick();

            $("#lightgallery").lightGallery({
                selector: '.lightbox-img',
                counter: false
            });
        });
    </script>
{% endblock %}