{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}Completed Builds | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    {% for build in builds %}
                            <div class="row build-list">
                                <div class="col-md-3">
                                    <a href="{{ build.get_absolute_url }}">
                                        <div >
                                            {% if build.buildimage_set.all.0 %}
                                                {% thumbnail build.buildimage_set.all.0.image "260x150" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img src="{% static 'img/No_image_available.png' %}" width="150" height="150" class="img-responsive">
                                            {% endif %}
                                        </div>
                                        <div>
                                            <span><b>{{ build.get_currency_display }}{{ build.total_price }}</b></span>
                                            <span class="pull-right"><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i> {{ build.score }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <h3><a href="{{ build.get_absolute_url }}">{{ build.title }}</a></h3>
                                    <p>By <a href="{{ build.user.get_absolute_url }}">{{ build.user }}</a></p>
                                    <p>{{ build.deck }}</p>
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                    {% endfor %}
            {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
            </div>
        </div>

    </div>

{% endblock %}