{% extends 'base.html' %}
{% load parts_extras %}
{% load thumbnail %}
{% load staticfiles %}

{% block head_title %}{{ title }} Reviews | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3>Part Reviews</h3>
                <hr>

                {% for item in reviews %}

                    <div class="review-item">
                        <div>
                            <a href="{{ item.part.get_absolute_url }}">
                                {% if item.part.image %}
                                    <span>
                                        {% thumbnail item.part.image "40x40" crop="center" as im %}
                                            <img class="review-image" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                                        {% endthumbnail %}
                                    </span>
                                {% else %}
                                    <img src="{% static 'img/No_image_available.png' %}" class="no-review-image"/>
                                {% endif %}
                            </a>
                        </div>

                        <div class="review-part">
                            <small class="text-muted">{{ item.part.get_category_display }}</small>
                            <p><a href="{{ item.part.get_absolute_url }}">{{ item.part }}</a></p>
                        </div>
                    </div>

                    <div class="review-rating">
                        {% if item.partreview %}
                            <p>{{ item.partreview.rating|star_ratings }}</p>
                            <p class="serif-text">{{ item.partreview.review }}</p>
                            <form method="post">
                                {% csrf_token %}
                                <span><a href="{% url 'build_review_edit' slug item.id %}" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit Review</a></span>
                                <span><button class="btn btn-danger btn-sm" formaction="{% url 'build_review_del' slug item.partreview.id %}"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete Review</button></span>
                            </form>
                        {% else %}
                            <a href="{% url 'build_review_edit' slug item.id %}" class="btn btn-default btn-sm"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add A Review</a>
                        {% endif %}
                        <hr>
                    </div>

                {% endfor %}
                <a href="{% url 'build_manage' slug %}" class="btn btn-default"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Return To Build</a>
            </div>
        </div>
    </div>
{% endblock %}