{% extends 'base.html' %}

{% block head_title %}Edit List{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Edit this build's part list?</h3>
                <hr>
                <p>This will de-list your build from the completed builds list.</p>
                <p>However, your images, description, and reviews will remain saved when you mark the build as complete again.</p>
                <form method="post">
                    {% csrf_token %}
                    <span><button formaction="{% url 'build_list_edit' slug %}" class="btn btn-default">Confirm</button></span>
                    <span><a href="{% url 'build_manage' slug %}" class="btn btn-default">Cancel</a></span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}