{% extends 'base.html' %}

{% block head_title %}Delete List{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Delete this part list?</h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {% if username %}
                        <span><button formaction="{% url 'profile_del_list' username slug %}" class="btn btn-default">Confirm</button></span>
                    {% else %}
                        <span><button formaction="{% url 'list_del' slug %}" class="btn btn-default">Confirm</button></span>
                    {% endif %}
                    <span><a href="javascript:history.back()" class="btn btn-default">Cancel</a></span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}