{% extends 'base.html' %}
{% load staticfiles %}
{% load lists_extras %}
{% load thumbnail %}
{% load get_item %}

{% block head_title %}{% if list.title %}{{ list.title }}{% else %}Start A Build{% endif %} | BYOG{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="row">

            {% if list and list_manage %}
                <div class="col-md-2 sidebar">
                    <h4><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> List Management</h4>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <ul class="list-group">
                            <li><a href="{% url 'list_edit' list.slug %}" class="list-group-item"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit Title</a></li>
                            <button class="list-group-item" type="submit" formaction="{% url 'list_new' %}"><i class="fa fa-clone fa-fw" aria-hidden="true"></i> Start A New List</button>
                            <li><a href="{% url 'profile_lists' request.user.username %}" class="list-group-item"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Edit A Saved List</a></li>
                            {% if list.item_set.count >= 1 or list.customitem_set.count >= 1 %}
                                <button class="list-group-item list-group-item-success" type="submit" formaction="{% url 'build_complete' list.slug %}"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Mark As Complete Build</button>
                            {% endif %}
                            <li><a href="{% url 'list_confirm_del' list.slug %}" class="list-group-item"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete This List</a></li>
                        </ul>
                    </form>
                </div>
            {% endif %}

            {% if list and list_manage %}
                <div class="col-md-8">
            {% else %}
                <div class="col-md-8 col-md-offset-2">
            {% endif %}

            {% if user.is_authenticated and list_manage %}
                {% if messages.error %}
                    {% for message in messages.error %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error: </strong>{{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if list %}
                <label for="list-permalink" class="serif-text"><i class="fa fa-link" aria-hidden="true"></i> Permalink: </label>
                <div class="row share">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="list-permalink" type="text"
                                   value="{{ site }}"
                                   onclick="this.select()">
                        </div>
                    </div>
                    <div class="col-md-8 export-controls">
                        <div class="serif-text"><b><i class="fa fa-upload fa-fw" aria-hidden="true"></i> Export:</b></div>
                        <div class="btn-group btn-export">
                            <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('markdown', '{{ list.slug }}')"><img src="{% static 'img/markdown.png' %}" height="30" width="30" alt="Markdown"></a>
                            <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('bbcode', '{{ list.slug }}')"><img src="{% static 'img/bbcode.png' %}" height="30" width="30" alt="BBCode"></a>
                            <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('html', '{{ list.slug }}')"><img src="{% static 'img/html.png' %}" height="30" width="30" alt="HTML"></a>
                            <a class="btn" href="javascript:void(0);" data-toggle="modal" data-target="#export-modal" onclick="exportList('text', '{{ list.slug }}')"><img src="{% static 'img/text.png' %}" height="30" width="30" alt="Plain Text"></a>
                        </div>
                    </div>
                </div>

                <div id="export-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Export {{ list.title }}</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <label><textarea class="form-control" id="export-text" style="max-width: 100%;" rows="12" cols="80"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>{{ list.title }}</h4>
                <hr>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-muted">Category</th>
                                <th class="text-muted"></th>
                                <th class="text-muted">Part</th>
                                <th class="text-muted">Price</th>
                                <th class="text-muted">Vendor</th>
                                <th class="text-muted"></th>
                                <th class="text-muted"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category, items in categories.items %}
                            {% if items %}
                                {% for item in items %}
                                    <tr>
                                        {% if forloop.first %}
                                            <td width="25%"><a href="{% url 'parts_list_category' category_fields|get_item:category %}">{{ category }}</a></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        <td>
                                            {% if item.part.image %}
                                                <a href="{{ item.part.image.url }}">
                                                    {% thumbnail item.part.image "40x40" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="list-image">
                                                    {% endthumbnail %}
                                                </a>
                                            {% else %}
                                                <img src="{% static 'img/No_image_available.png' %}" class="no-list-image"/>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if item|class_name == 'Item' %}
                                            <a href="{{ item.part.get_absolute_url }}"><b>{{ item.part }}</b></a>
                                            {% else %}
                                            <a href="javascript:void(0);" class="user-url"><b>{{ item.part }}</b></a>
                                                <br>
                                                <small class="text-muted"><i>Custom Item</i></small>
                                            {% endif %}
                                        </td>

                                        {% if item|class_name == 'Item' %}
                                            {% if item.custom_price %}
                                                <td>{{ list.get_currency_display }}{{ item.custom_price }}<br><small class="text-muted"><i>Custom Price</i></small></td>
                                                <td></td>
                                            {% elif item.price %}
                                                <td>{{ list.get_currency_display }}{{ item.price }}</td>
                                                {% if item.vendor %}
                                                    <td><a href="{% url 'parts_vendor' item.part.slug item.vendor %}">{{ item.get_vendor_display }}</a></td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            {% else %}
                                                <td>N/A</td>
                                                <td>{{ item.get_vendor_display }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td>{{ list.get_currency_display }}{{ item.price }}</td>
                                            <td></td>
                                        {% endif %}

                                        {% if list_manage %}
                                            {% if item|class_name == 'Item' %}
                                                <td><a href="{% url 'item_edit' list.slug item.id %}"><i class="fa fa-cog fa-fw btn-options" aria-hidden="true"></i></a></td>
                                                <td><form method="post" action="{% url 'item_del' list.slug item.id %}">{% csrf_token %}<button type="submit" class="btn-del"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button></form></td>
                                            {% else  %}
                                                <td><a href="{% url 'custom_edit' list.slug item.id %}"><i class="fa fa-cog fa-fw btn-options" aria-hidden="true"></i></a></td>
                                                <td><form method="post" action="{% url 'custom_del' list.slug item.id %}">{% csrf_token %}<button type="submit" class="btn-del"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button></form></td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                            {% else %}
                                <tr>
                                    <td><a href="{% url 'parts_list_category' category_fields|get_item:category %}">{{ category }}</a></td>
                                    <td>
                                        <a class="btn btn-sm btn-default" href="{% url 'parts_list_category' category_fields|get_item:category %}" >Add A {{ category }} </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        {% if other_items %}

                            {% regroup other_items by get_category_display as category_list %}
                                {% for category in category_list %}
                                    {% for item in category.list %}
                                        <tr>
                                            {% if forloop.first %}
                                                <td width="25%"><a href="{% url 'parts_list_category' item.category %}">{{ category.grouper }}</a></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td>
                                                {% if item.part.image %}
                                                    <a href="{{ item.part.image.url }}">
                                                        {% thumbnail item.part.image "40x40" crop="center" as im %}
                                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="list-image">
                                                        {% endthumbnail %}
                                                    </a>
                                                {% else %}
                                                    <img src="{% static 'img/No_image_available.png' %}" class="no-list-image"/>
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if item|class_name == 'Item' %}
                                                <a href="{{ item.part.get_absolute_url }}"><b>{{ item.part }}</b></a>
                                                {% else %}
                                                <a href="javascript:void(0);" class="user-url"><b>{{ item.part }}</b></a>
                                                    <br>
                                                    <small class="text-muted"><i>Custom Item</i></small>
                                                {% endif %}
                                            </td>

                                            {% if item|class_name == 'Item' %}
                                                {% if item.custom_price %}
                                                    <td>{{ list.get_currency_display }}{{ item.custom_price }}<br><small class="text-muted"><i>Custom Price</i></small></td>
                                                    <td></td>
                                                {% elif item.price %}
                                                    <td>{{ list.get_currency_display }}{{ item.price }}</td>
                                                    {% if item.vendor %}
                                                        <td><a href="{% url 'parts_vendor' item.part.slug item.vendor %}">{{ item.get_vendor_display }}</a></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                {% else %}
                                                    <td>N/A</td>
                                                    <td>{{ item.get_vendor_display }}</td>
                                                {% endif %}
                                            {% else %}
                                                <td>{{ list.get_currency_display }}{{ item.price }}</td>
                                                <td></td>
                                            {% endif %}

                                            {% if list_manage %}
                                                {% if item|class_name == 'Item' %}
                                                    <td><a href="{% url 'item_edit' list.slug item.id %}"><i class="fa fa-cog fa-fw btn-options" aria-hidden="true"></i></a></td>
                                                    <td><form method="post" action="{% url 'item_del' list.slug item.id %}">{% csrf_token %}<button type="submit" class="btn-del"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button></form></td>
                                                {% else  %}
                                                    <td><a href="{% url 'custom_edit' list.slug item.id %}"><i class="fa fa-cog fa-fw btn-options" aria-hidden="true"></i></a></td>
                                                    <td><form method="post" action="{% url 'custom_del' list.slug item.id %}">{% csrf_token %}<button type="submit" class="btn-del"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button></form></td>
                                                {% endif %}
                                            {% endif %}

                                        </tr>

                                        {% if item|class_name == 'CustomItem' %}
                                            {% if item.url %}
                                                <tr class="toggle-url alert alert-warning">
                                                    <td></td>
                                                    <td></td>
                                                    <td colspan="5">
                                                        <div>
                                                            <b>Warning:</b> This is a user provided URL.  Follow at your own risk.
                                                        </div>
                                                        <div>
                                                            <b>{{ item.url }}</b>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}
                                {% endfor %}

                        {% endif %}

                        <tr>
                            <td></td>
                            <td><a href="{% url 'custom_add' %}" class="btn btn-sm btn-default">Add A Custom Item</a></td>
                        </tr>


                            <tr>
                                <td class="td-border-bottom" colspan="7"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td align="right"><b>Total:</b></td>
                                <td><b>{{ list.get_currency_display }}{{ list.total_price }}</b></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            {% elif user.is_authenticated and list_manage %}
                <form method="post" action="{% url 'list_new' %}">
                {% csrf_token %}
                    <h1>Looks like you haven't started a build yet...</h1>
                    <hr>
                    <button class="btn btn-default" type="submit">Start a new list</button>
                    <p><a href="{% url 'profile_lists' request.user.username %}" class="btn btn-default">Select a saved list to edit</a></p>
                </form>

            {% elif list_manage %}
                <h1>You need to <a href="{% url 'account_login' %}">sign in</a> to use this feature, homie.</h1>
            {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('.user-url').click(function() {
                $(this).parents('tr').next('.toggle-url').slideToggle('fast');
                return false;
            });
        });
    </script>
{% endblock %}