{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Edit {{ title }} Details{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}