{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Edit {{ item }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            var use_custom = {{ use_custom|yesno:"true, false, null" }};

            if (use_custom === true) {
                $('#id_vendor').prop("disabled", true);
                $('#id_choose_price_1').prop("checked", true);
            }
            else if (use_custom === false){
                $('#id_choose_vendor_1').prop("checked", true);
                $('#id_custom_price').prop("disabled", true);
            }

            $('#id_choose_vendor_1').click(function () {
                $('#id_choose_price_1').prop("checked", false);
                $('#id_vendor').prop("disabled", false);
                $('#id_custom_price').prop("disabled", true);
            });

            $('#id_choose_price_1').click(function(){
                $('#id_choose_vendor_1').prop("checked", false);
                $('#id_custom_price').prop("disabled", false);
                $('#id_vendor').prop("disabled", true);
            });
        });
    </script>
{% endblock %}