// general css

html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 7.000em;
  word-wrap: break-word;

  a {
    text-decoration: none !important;
    outline: 0 !important;

    &:hover {
      color: #1DE9B6;
    }
  }
}

.serif-text {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3 , h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

form {
  legend {
    font-family: 'Roboto Slab', serif;
  }
}

.container, .container-fluid {
  ul {
    list-style-type: none;
  }
}

.markdown {
  ul {
    list-style-type: disc !important;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.000em;
  background-color: #2c3e50;
  color: #FAFAFA;

  p {
    padding-top: 1.333em;
  }
}

.td-border-bottom {
  border-bottom: solid #ecf0f1 1px;
}

.a-bold {
  font-weight: bold;
}

.a-default-txt-color {
  color: #2c3e50;
}

.btn {
  margin: 0.133em auto;
}

.btn-del {
  border: 0 solid transparent;
  background: transparent;
  color: #e74c3c
}

.btn-options {
  color: #607D8B;
}

.share {
  display: flex;
}

.export-controls {
  margin-top: -1.750em;

  .serif-text {
    margin-bottom: 0.1em;
  }
}

.btn-export {
  a {
    padding: 0.4em;
    background: #ffffff;
    border: 2px solid #dce4ec;
    border-right-width: 1px;
    border-left-width: 1px;;

    &:hover {
      background: #ecf0f1;
    }

    &:first-child {
      border-left-width: 2px;
    }

    &:last-child {
      border-right-width: 2px;
    }
  }
}

.paginator {
  width: 50%;
  margin: 3.000em;
  span {
    margin: 0.100em;
    padding: 0.500em;
  }
}

.current-page {
  border-bottom: 1px solid black;
}

// navbar

#navbar-byog-main {
  li {

    a {
      &:active {
        color: white !important;
      }
      &:visited {
        color: white !important;
      }
      &:hover {
        background: #607D8B !important;
      }
    }
  }
}

// category dropdown

.category-dropdown-container {
  background: #37474F;
  box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.5), 0 6px 20px 0 rgba(33, 33, 33, 0.4);
  margin-top: -1.500em;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 100%;

  a {
    color: white;

    &:hover {
      color: #00BFA5;
    }
  }

  ul {
    list-style-type: none;
  }
}

#category-dropdown {
  padding-top: 1.000em;
}

.category-drop-main {
  font-size: small;

  a {
    display: block;
    width: 15.000em;
    height: 12.000em;
    padding: 1.000em;
    border: 1px solid #34495e;
    background: #2c3e50;
    text-align: center;
    margin: 0.500em;

    &:hover {
      background: #607D8B;
    }

    img {
      display: block;
      padding: 0.500em;
      margin: auto;
    }
  }
}

.category-drop-col {
  font-size: small;
  padding-top: 1.000em;
}

// sidebar

.sidebar {
  background: #FAFAFA;
  padding-top: 1.000em;
  padding-bottom: 1.000em;
}

#filter-sidebar {
  padding-left: 1.750em;
}

// banners

.image-banner {
  text-align: center;
  padding-top: 21.500em;
  margin-top: -2.000em;
}

.user-banner {
  background: rgba(34, 38, 42, 0.75);
  padding-top: 2.000em;
  padding-bottom: 2.000em;
  position: relative;
  bottom: 0;
}

.part-banner {
  background: #CFD8DC;
  text-align: center;
  margin-top: -1.500em;
}

.build-banner {
  background: #2980b9;
  text-align: center;
  padding-bottom: 1.000em;
  color: white;
  margin-top: -1.500em;
}

// lists

.list-image {
  border: 1px solid #78909C;
  border-radius: 5px;
  margin: -0.250em 0 1.000em 1.000em;
}

.no-list-image {
  @extend .list-image;
  height: 40px;
  width: 40px;
  border: none;
}

.toggle-url {
  display: none;
  border-bottom: 1.000em solid transparent;
  color: black;
}

// builds

.build-description {
  padding-top: 1em;
  padding-left: 2em;
}

.build-user-image {
  margin-bottom: 0.333em;
  border: 3px solid white;
}

.build-byline {
  font-size: x-large;

  a {
    color: white;

    &:hover {
      color: #18bc9c;
      text-decoration: none;
    }
  }
}

#build-vote-btn {
    color: white;
}

.build-part-list {
  margin-left: -2.000em;
  margin-right: 2.000em;
}

.build-item {
  display: flex;
  margin-bottom: -1.000em;
}

.build-price {
  display: inline-block;
}

.build-image-col {
  margin-top: -1.100em;
}

.build-part-text {
  flex: 1;
  margin-left: 3.000em;

  span {
    margin-top: -2.200em;
  }
}

.build-image {
  border: 1px solid #78909C;
  border-radius: 5px;
  margin: 1.250em 0 1.000em 1.000em;
  display: inline;
}

.no-build-image {
  height: 40px;
  width: 40px;
  margin: 1.250em 0 1.000em 1.000em;
}

.build-custom-url {
  padding-left: 2.000em;
  margin: 1.000em;
  color: black;
  display: none;

  a {
    color: black;
  }
}

.build-total {
  margin-left: 1.500em;
}

.build-body {
  margin-bottom: 3.500em;
}

.build-gallery {
  margin: 0 1.000em 1.000em 0;
}

.build-list {
  a {
    color: #2c3e50;
  }
}

.build-featured-main {
  a {
    color: #2c3e50;
  }
  small {
    a {
      color: #ecf0f1;

      &:hover {
        color: #1abc9c;
      }
    }
  }
}

.build-featured-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.5), 0 6px 20px 0 rgba(33, 33, 33, 0.4);
  }
}

.build-featured-list {
  margin-top: 1.500em;

  a {
     color: #2c3e50;
    }
}

.build-featured-profile-image {
  border: 2px solid #607D8B;
  margin-right: 0.500em;
}

.build-latest {
  a {
     color: #2c3e50;
    }
}

.build-homepage-img {

  img {
    border: 1px solid #607D8B;
    border-radius: 3px;
    padding: 2px;
    margin-top: 0.250em;
  }

}

.build-homepage-byline {
  margin-top: 0.500em;
}

.build-homepage-title {
  font-size: large;
  font-weight: bold;
  margin-bottom: -0.100em;
}

.build-homepage-featured-user {
  margin-top: 0.100em;
  margin-bottom: 0.500em;
}

// profile pages

.profile {
  margin: 1.600em 0 2.333em 0;
}

.profile-username {
  font-size: xx-large;
  padding: 0 1.0000em 0 1.000em;
  color: white;
}

.profile-nav {
  margin-bottom: 1.000em;
}

.profile-image {
  margin: -0.333em -0.667em;
  border: 3px solid #CFD8DC;
  vertical-align: middle;
}

.profile-image-navbar {
  margin: -0.667em 0.333em;
  border: 2px solid #CFD8DC;
}

.profile-image-review {
  border: 2px solid #607D8B;
  margin: 0.500em 0.333em 0.333em;
}

.profile-build {
  padding-left: 3.000em;
  padding-top: 1.000em;
}

// part pages

.category-table {
  padding-bottom: 1.667em;

  td {

  }

}

.part-category {
  padding-top: 0.667em;
}

.part-header {
  padding-top: -1.667em;
  margin-top: -0.200em;
}

.part-add-form {
  padding-bottom: 1.000em;
}

.review {
  background-color: #ECEFF1;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 1.555em 0 0.555em 0;
  padding-top: 1.333em;
  padding-bottom: 1.333em;
}

// reviews css

.review-hr {
  border-color: #CFD8DC;
}

.review-button {
    color: #ECEFF1;

  &:hover {
    color: #ECEFF1;
    text-decoration: none;
  }
  &.active {
    color: #ECEFF1;
    text-decoration: none;
  }
  &:visited {
    color: #ECEFF1;
    text-decoration: none;
  }
}

// For helpful/unhelpful buttons in part detail page
.review-btn-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.review-btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.review-body {
  padding-left: 1.777em;
}

.review-item {
  display: flex;
}

.review-image {
  margin: 0.500em;
  border: 1px solid #78909C;
  border-radius: 5px;
}

.no-review-image {
  height: 40px;
  width: 40px;
  margin: 0.500em;
}

.review-part {
  flex: 1;
  padding-top: 0.300em;
}

.review-rating {
  padding-left: 0.250em;
}

.star-rating {
  margin-bottom: 0.500em;
}

#rateYo {
  margin-bottom: 0.500em;
}

// slick carousel css

.slick-prev:before, .slick-next:before {
  color: #607D8B;
}

.img-carousel {
  margin: 0 0 3.000em 0;
  padding: 3.000em 0.000em 3.000em 5.555em;
  background: #ECEFF1;
  border: 2px solid transparent;
  border-radius: 5px;
}

.img-carousel-profile {
  @extend .img-carousel;
  margin: 0 0 1.000em 0;
  padding: 3.000em 0.000em 3.000em 2.000em;
}

// articles css

.article-container {
  display: inline-flex;
}

.article-cover-image {
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.5), 0 6px 20px 0 rgba(33, 33, 33, 0.4);
    }
  }
}

.article-headline {
  a {
    color: #2c3e50;

    &:hover {
      color: #18bc9c;
      text-decoration: none;
    }
  }

  small {
    font-family: 'Roboto', sans-serif;
    a {
      color: #b4bcc2;
    }
  }
}

.article-deck {
  font-size: large;
}

.article-homepage {

  a {
    color: #2c3e50;

    &:hover {
      color: #1DE9B6;
    }
  }
}

.article-homepage-tile {
  margin-bottom: 1.500em;
}

// datatables css
// this changes the styling of the pagination buttons to match the bootstrap theme

.pagination_button {
  background: #95a5a6 !important;
  color: #fafafa !important;
  font-weight: bold;
  border: 1px solid #74898a !important;
}

.pagination_button:hover {
  background: #798d8f !important;
}

li.active > .pagination_button {
  background: #798d8f !important;
}

// bootstrap slider css

.slider-selection {
  background: #3498db;
}

.slider-handle {
  background: #bdc3c7;
}

// parallax css

.parallax-window {
  min-height: 400px;
  background: transparent;
}

// hides crispy-forms asterisks

.asteriskField {
  display: none;
}
