{% extends 'base.html' %}
{% load staticfiles %}
{% load deslugify %}
{% load replace_whitespace %}

{% block head_title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="container-fluid image-banner" style="background: url('{{ article.articlecoverimage.image.url }}'); background-attachment: fixed; background-repeat: no-repeat; background-size: 100%">
        <div class="row">
            <div class="col-md-12 user-banner">
                <div class="profile-username">
                    <p><b>{{ article.title }}</b></p>
                    <p><b>By {{ article.author }} on {{ article.date|date:"F d, Y" }}</b></p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 markdown">
                <h3>{{ article.deck }}</h3>
                <hr>
                {{ article.content|safe }}
                <hr>
                <p><i class="fa fa-tags fa-fw" aria-hidden="true"></i> Tags: {% for tag in article.tags.names %}<a href="{% url 'article_list' %}?tags={{ tag|replace_whitespace }}">{{ tag|deslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if disqus %}
                    {{ disqus|safe }}
                {% endif %}

                <div id="disqus_thread"></div>
                <script>
                    {% if not disqus %}
                        var disqus_config = function () {
                            this.page.url = '{{ site }}';
                            this.page.identifier = '{{ build.slug }}';
                        };
                    {% endif %}

                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//shiranai-moe.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>

                var image = "{{ article.articlecoverimage.image.url }}";
                $('.parallax-window').parallax({imageSrc: image});


    </script>
{% endblock %}