{% extends 'base.html' %}
{% load thumbnail %}

{% block head_title %}Articles | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if articles %}
                    {% for article in articles %}
                        <div class="row">
                            <div class="col-md-6 article-cover-image">
                                {% thumbnail article.articlecoverimage.image "480x272" crop="center" as im %}
                                    <a href="{% url 'article_detail' article.slug %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive"></a>
                                {% endthumbnail %}
                            </div>
                            <div class="col-md-6 article-headline">
                                <h2><a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
                                    <small>By <a href="{% url 'article_list' %}?author={{ article.author }}">{{ article.author }}</a></small></h2>
                                <p class="article-deck">{{ article.deck }}</p>
                            </div>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                    {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
                {% else %}
                    <h1>No articles found.</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
