{% extends 'base.html' %}

{% block head_title %}403 Forbidden | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>403 <small>Forbidden</small></h1>
            </div>
        </div>
    </div>
{% endblock %}