{% extends 'base.html' %}

{% block head_title %}404 Not Found | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>404 <small>Not Found</small></h1>
            </div>
        </div>
    </div>
{% endblock %}