{% extends 'base.html' %}

{% block head_title %}500 Internal Server Error | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>500 <small>Internal Server Error</small></h1>
            </div>
        </div>
    </div>
{% endblock %}