{% load staticfiles %}
{% load thumbnail %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Slab' >
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Roboto" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css"
          integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11,r-2.0.2/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.4/css/bootstrap-slider.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/byog.css' %}">
    {% else %}
        {% stylesheet 'main' %}
    {% endif %}
</head>

<body>
{% block header %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" id="navbar-toggle" data-toggle="collapse" data-target="#navbar-byog"
                        aria-expanded="false">
                    <i class="fa fa-bars fa-inverse" aria-hidden="true"></i>
                </button>
                <a class="navbar-left" href={% url 'home' %}>
                    <img src="{% static 'img/gatpicker.png' %}">
                </a>
            </div>

            <div id="navbar-byog" class="collapse navbar-collapse">
                <div id="navbar-byog-main">
                    <ul class="nav navbar-nav">
                        <li {% if navbar == 'articles' %}class="active"{% endif %}><a href="{% url 'article_list' %}"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>
                            Articles</a></li>
                        <li {% if navbar == 'lists' %}class="active"{% endif %}><a href="{% url 'list_manage' %}"><i class="fa fa-list fa-fw" aria-hidden="true"></i>
                            Your Build</a></li>
                        <li {% if navbar == 'featured' %}class="active"{% endif %}><a href="{% url 'build_featured' %}"><i class="fa fa-trophy fa-fw" aria-hidden="true"></i>
                            Featured Builds</a></li>
                        <li {% if navbar == 'completed' %}class="active"{% endif %}><a href="{% url 'build_list' %}"><i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                            Completed Builds</a></li>
                        <li {% if navbar == 'parts' %}class="active"{% endif %}><a class="dropdown-toggle" id="navbar-category" href="{% url 'category_list_all' %}"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                            Browse Parts <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                {% if user.is_authenticated %}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% if user.userprofile.user_image %}
                                    {% thumbnail user.userprofile.user_image "30x30" crop="center" as im %}
                                        <img class="img-circle profile-image-navbar" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="img-circle profile-image-navbar" src="{% static 'img/default_avatar.png' %}" width="30" height="30">
                                {% endif %} {{ user.username }}
                                <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile_user' request.user.username %}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile</a></li>
                                <li><a href="{% url 'profile_lists' request.user.username %}"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Saved Lists</a></li>
                                <li><a href="{% url 'profile_builds' request.user.username %}"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Completed Builds</a></li>
                                <li><a href="{% url 'account_settings' request.user.username %}"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i> Account Settings</a></li>
                                <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>

                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Log In</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block category_dropdown %}
<div class="category-dropdown-container">
    <div class="container-fluid" id="category-dropdown" hidden>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="category-drop-main">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li>
                                    <a href="{% url 'parts_list_category' 'lower' %}">
                                        <img src="{% static 'img/hipoint.png' %}">
                                        Lower Receivers
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'parts_list_category' 'upper_complete' %}">
                                        <img src="{% static 'img/hipoint.png' %}">
                                        Upper Receivers (Complete)
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'parts_list_category' 'upper_stripped' %}">
                                        <img src="{% static 'img/hipoint.png' %}">
                                        Upper Receivers (Stripped)
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'parts_list_category' 'barrel' %}">
                                        <img src="{% static 'img/hipoint.png' %}">
                                        Barrels
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li>
                                    <a href="{% url 'parts_list_category' 'trigger' %}">
                                    <img src="{% static 'img/hipoint.png' %}">
                                    Triggers
                                </a>
                                </li>
                                <li>
                                    <a href="{% url 'parts_list_category' 'bolt_carrier_group' %}">
                                    <img src="{% static 'img/hipoint.png' %}">
                                    Bolt Carriers
                                </a>
                                </li>
                                <li>
                                    <a href="{% url 'parts_list_category' 'handguard_rails' %}">
                                    <img src="{% static 'img/hipoint.png' %}">
                                    Handguards/Rails
                                </a>
                                </li>
                                <li>
                                    <a href="{% url 'parts_list_category' 'stock' %}">
                                    <img src="{% static 'img/hipoint.png' %}">
                                    Stocks
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row category-drop-col">
                    <div class="col-md-6">
                        <ul>
                            <li class="text-muted">LOWER COMPONENTS</li>
                            <li><a href="{% url 'parts_list_category' 'trigger_guard' %}">Trigger Guards</a></li>
                            <li><a href="{% url 'parts_list_category'  'grip' %}">Grips</a></li>
                            <li><a href="{% url 'parts_list_category' 'lower_parts_kit' %}">Lower Parts Kits</a></li>
                        </ul>
                        <ul>
                            <li class="text-muted">UPPER COMPONENTS</li>
                            <li><a href="{% url 'parts_list_category' 'flash_hider' %}">Flash Hiders</a></li>
                            <li><a href="{% url 'parts_list_category' 'muzzle_brake' %}">Muzzle Brakes</a></li>
                            <li><a href="{% url 'parts_list_category' 'suppressor' %}">Suppressors</a></li>
                            <li><a href="{% url 'parts_list_category' 'gas_block' %}">Gas Blocks</a></li>
                            <li><a href="{% url 'parts_list_category' 'charging_handle' %}">Charging Handles</a></li>
                            <li><a href="{% url 'parts_list_category' 'upper_parts_kit' %}">Upper Parts Kits</a></li>
                        </ul>
                        <ul>
                            <li class="text-muted">COMPLETE RIFLES</li>
                            <li><a href="{% url 'parts_list_category' 'complete_ar15' %}">AR-15</a></li>
                        </ul>
                        <ul>
                            <li class="text-muted">OTHER</li>
                            <li><a href="{% url 'parts_list_category' 'other' %}">Other</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6" >
                        <ul>
                            <li class="text-muted">OPTICS</li>
                            <li><a href="{% url 'parts_list_category' 'sight' %}">Sights</a></li>
                            <li><a href="{% url 'parts_list_category' 'red_dot' %}">Red Dot Sights</a></li>
                            <li><a href="{% url 'parts_list_category' 'rds_mount' %}">Red Dot Mounts</a></li>
                            <li><a href="{% url 'parts_list_category' 'magnifier' %}">Magnifiers</a></li>
                            <li><a href="{% url 'parts_list_category' 'scope' %}">Scopes</a></li>
                            <li><a href="{% url 'parts_list_category' 'scope_mount' %}">Scope Mounts</a></li>
                        </ul>
                        <ul>
                            <li class="text-muted">ACCESSORIES</li>
                            <li><a href="{% url 'parts_list_category' 'flashlight' %}">Flashlights</a></li>
                            <li><a href="{% url 'parts_list_category' 'laser' %}">Lasers</a></li>
                            <li><a href="{% url 'parts_list_category' 'bipod' %}">Bipods</a></li>
                            <li><a href="{% url 'parts_list_category' 'rail_cover' %}">Rail Covers</a></li>
                            <li><a href="{% url 'parts_list_category' 'magazine' %}">Magazines</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer class="footer">
        <div class="container">
            <p align="center">©2016 Mikhail Nuriyev, Age 23</p>
        </div>
</footer>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lightgallery-all.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/dt-1.10.11,r-2.0.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.4/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>
    <script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/readmore.min.js' %}"></script>

    {% if debug %}
        <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
        <script src="{% static 'js/string-format.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
        <script src="{% static 'js/start-dt.js' %}"></script>
        <script src="{% static 'js/stars.js' %}"></script>
        <script src="{% static 'js/start-slick.js' %}"></script>
        <script src="{% static 'js/vote.js' %}"></script>
        <script src="{% static 'js/add-item.js' %}"></script>
        <script src="{% static 'js/toggle-category.js' %}"></script>
        <script src="{% static 'js/review-vote.js' %}"></script>
        <script src="{% static 'js/export-list.js' %}"></script>
    {% else %}
        {% javascript 'cookie' %}
        {% javascript 'csrf' %}
        {% javascript 'string_format' %}
        {% javascript 'main' %}
    {% endif %}

{% endblock %}
</body>
</html>