{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}Build Your Own Gat | BYOG{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with featured.0 as featured_main %}
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-8 col-md-push-4">
                            <a href="{{ featured_main.get_absolute_url }}">
                                <div>
                                    {% if featured_main.buildimage_set.all.0 %}
                                        {% thumbnail featured_main.buildimage_set.all.0.image "640x400" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive build-featured-image">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% static 'img/No_image_available.png' %}" width="400" height="400" class="img-responsive build-featured-image">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-md-pull-8 build-featured-main">

                            <h1 class="serif-text"><a href="{% url 'build_featured' %}">Featured Build: </a><br>
                                <a href="{{ featured_main.get_absolute_url }}">{{ featured_main.title }}</a></h1>
                            <p class="build-homepage-featured-user">
                                <a href="{{ featured_main.user.get_absolute_url }}">
                                    <span>
                                        {% if featured_main.user.userprofile.user_image %}
                                            {% thumbnail featured_main.user.userprofile.user_image "36x36" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                                     class="img-circle build-featured-profile-image">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img src="{% static 'img/default_avatar.png' %}" width="36" height="36"
                                                 class="img-circle build-featured-profile-image">
                                        {% endif %}
                                    </span>
                                    By {{ featured_main.user }}
                                </a>
                            </p>
                            <p class="serif-text" style="font-size: x-large;">{{ featured_main.deck }}</p>
                            <span><b>{{ featured_main.get_currency_display }}{{ featured_main.total_price }}</b></span>
                            <span class="pull-right"><i class="fa fa-thumbs-o-up fa-fw"
                                                        aria-hidden="true"></i> {{ featured_main.score }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 build-featured-list">
                    <div class="row">
                        {% for build in featured|slice:"1:" %}
                                <div class="col-md-4">
                                    <div>
                                        <a href="{{ build.get_absolute_url }}">
                                            {% if build.buildimage_set.all.0 %}
                                                {% thumbnail build.buildimage_set.all.0.image "380x250" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive build-featured-image">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img src="{% static 'img/No_image_available.png' %}" width="380" height="250" class="img-responsive build-featured-image">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div style="margin-top: 1.000em;">
                                        <p class="build-homepage-title serif-text"><a href="{{ build.get_absolute_url }}">{{ build.title }}</a></p>
                                        <p>By <a href="{{ build.user.get_absolute_url }}">{{ build.user }}</a></p>
                                    </div>
                                    <div>
                                        <p class="serif-text">{{ build.deck }}</p>
                                        <p>
                                            <span><b>{{ build.get_currency_display }}{{ build.total_price }}</b></span>
                                            <span class="pull-right"><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i> {{ build.score }}</span>
                                        </p>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 build-latest">
                <h4><a href="{% url 'build_list' %}">Latest Builds</a></h4>
                <hr>
                <ul>
                    {% for build in latest %}
                        <li>
                            <div class="row">
                                <div class="col-md-5 build-homepage-img">
                                    <a href="{{ build.get_absolute_url }}">
                                        {% if build.buildimage_set.all.0 %}
                                            {% thumbnail build.buildimage_set.all.0.image "180x100" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img src="{% static 'img/No_image_available.png' %}" width="54" height="54" class="img-responsive">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <p class="build-homepage-title serif-text"><a href="{{ build.get_absolute_url }}">{{ build.title }}</a></p>
                                        <p>By <a href="{{ build.user.get_absolute_url }}">{{ build.user }}</a></p>
                                    </div>
                                    <div>
                                        <p class="serif-text">{{ build.deck }}</p>
                                        <p>
                                            <span><b>{{ build.get_currency_display }}{{ build.total_price }}</b></span>
                                            <span class="pull-right"><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i> {{ build.score }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% if not forloop.last %}<hr>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-8 article-homepage">
                <h4><a href="{% url 'article_list' %}">Articles</a></h4>
                <hr>
                <div class="row">
                    {% for article in articles|slice:":2" %}
                        <div class="col-md-6 article-homepage-tile">
                            <a href="{{ article.get_absolute_url }}">
                                <div>
                                    {% thumbnail article.articlecoverimage.image "320x240" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive build-featured-image">
                                    {% endthumbnail %}
                                </div>
                            </a>
                            <div class="build-homepage-byline">
                                <p class="build-homepage-title serif-text"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></p>
                                <p>By <a href="{{ article.author.get_absolute_url }}">{{ article.author }}</a></p>
                                <p>{{ article.deck }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for article in articles|slice:"2:" %}
                        <div class="col-md-6">
                            <a href="{{ article.get_absolute_url }}">
                                <div>
                                    {% thumbnail article.articlecoverimage.image "320x240" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive build-featured-image">
                                    {% endthumbnail %}
                                </div>
                            </a>
                            <div class="build-homepage-byline">
                                <p class="build-homepage-title serif-text"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></p>
                                <p>By <a href="{{ article.author.get_absolute_url }}">{{ article.author }}</a></p>
                                <p>{{ article.deck }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}