<div class="paginator pull-left">

    <span><small>Page</small></span>

    {% if show_first %}
        <span><a href="?page=1">1</a></span>
        <span>·</span>
    {% endif %}

    {% for one_page in page_numbers %}
        {% if one_page == page %}
            <span class="current-page">{{ page }}</span>
        {% elif one_page != 1 %}
            {% if one_page != pages %}
                <span><a href="?page={{ one_page }}">{{ one_page }}</a></span>
            {% endif %}
        {% endif %}
    {% endfor %}


    {% if show_last %}
        <span>·</span>
        <span><a href="?page=last">{{ pages }}</a></span>
    {% endif %}

</div>