{% extends 'profiles/user.html' %}
{% load staticfiles %}
{% load lists_extras %}
{% load thumbnail %}

{% block headtitle %}Account Settings | BYOG{% endblock %}

{% block profile %}
    <div class="row">
        <div class="col-md-12">
            <h3>E-mail Settings</h3>
            <p>Current E-mail: <b>{{ user.email }}</b></p>
            <p><a href="{% url 'account_email' %}">Change E-mail Settings</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Password Settings</h3>
            <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
        </div>
    </div>
{% endblock %}