{% extends 'profiles/user.html' %}
{% load staticfiles %}
{% load markdown_tags %}

{% block profile %}
    <div>
        <h3>About {{ username }}</h3>
        <hr>
        {% if profile.description %}
            <div class="profile-description serif-text markdown">
                {{ profile.description|mark_down }}
            </div>
        {% elif request.user.username == username %}
            <p>You haven't entered a description yet.</p>
        {% else %}
            <p>{{ username }} hasn't entered a description yet.</p>
        {% endif %}
        <p><small>Date Joined: {{ date_joined }}</small></p>

        {% if request.user.username == username %}
            <hr>
            {% if profile %}
                <a href="{% url 'profile_edit' username %}" class="btn btn-primary"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit your profile</a>
            {% else %}
                <a href="{% url 'profile_create' username %}" class="btn btn-primary"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit your profile</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
           $('.profile-description > table').addClass('table table-bordered table-responsive');
        });
    </script>
{% endblock %}