{% extends 'profiles/user.html' %}
{% load staticfiles %}
{% load lists_extras %}
{% load thumbnail %}

{% block profile %}
    <div class="row">
        {% if build_set %}
            <div class="col-md-3 sidebar">
                    <h4><i class="fa fa-list fa-fw" aria-hidden="true"></i> Completed Builds</h4>
                    <hr>
                    <ul class="list-group">
                        {% for build in build_set %}
                            <li><a href="{% url 'profile_builds' username %}?view={{ build.slug }}" class="list-group-item {% if build.slug == build_display.slug %}a-bold{% endif %}"><i class="fa fa-ellipsis-v fa-fw" aria-hidden="true"></i> {{ build.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if user.username == username %}
                        {% if build_display %}
                            <h4 class="serif-text"><i class="fa fa-wrench" aria-hidden="true"></i> Build Management</h4>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                <ul class="list-group">
                                    <li><a class="list-group-item" href="{% url 'build_manage' build_display.slug %}"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit Build</a></li>
                                    <li><a href="{% url 'profile_confirm_del_build' build_display.user build_display.slug %}" class="list-group-item"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete This Build</a></li>
                                </ul>
                            </form>
                        {% endif %}
                {% endif %}
            </div>

            <div class="col-md-9 profile-build">
                {% if build_display %}
                    <h4><a href="{{ build_display.get_absolute_url }}">{{ build_display.title }}</a></h4>
                        <hr>

                        {% if build_display.buildimage_set.count > 0 %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="img-carousel-profile" id="lightgallery">
                                            {% for img in build_display.buildimage_set.all %}
                                                <div>
                                                    <a href="{{ img.image.url }}" class="lightbox-img">
                                                        {% thumbnail img.image "128x128" crop="center" as im %}
                                                            <img src="{{ im.url }}" height="{{ im.height }}"
                                                                 width="{{ im.width }}"/>
                                                        {% endthumbnail %}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if items %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-muted">Category</th>
                                            <th class="text-muted"></th>
                                            <th class="text-muted">Part</th>
                                            <th class="text-muted">Price</th>
                                            <th class="text-muted">Vendor</th>
                                            <th class="text-muted"></th>
                                            <th class="text-muted"></th>
                                        </tr>
                                    </thead>

                                    {% regroup items by get_category_display as category_list %}
                                    <tbody>
                                        {% for category in category_list %}
                                            {% for item in category.list %}
                                                <tr>
                                                    {% if forloop.first %}
                                                        <td width="25%">{{ category.grouper }}</td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td>
                                                        {% if item.part.image %}
                                                            <a href="{{ item.part.image.url }}">
                                                                {% thumbnail item.part.image "40x40" crop="center" as im %}
                                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="list-image">
                                                                {% endthumbnail %}
                                                            </a>
                                                        {% else %}
                                                            <img src="{% static 'img/No_image_available.png' %}" class="no-list-image"/>
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        {% if item|class_name == 'Item' %}
                                                        <a href="{{ item.part.get_absolute_url }}"><b>{{ item.part }}</b></a>
                                                        {% else %}
                                                        <a href="javascript:void(0);" class="user-url "><b>{{ item.part }}</b></a>
                                                            <br>
                                                            <small class="text-muted"><i>Custom Item</i></small>
                                                        {% endif %}
                                                    </td>

                                                    {% if item|class_name == 'Item' %}
                                                        {% if item.custom_price %}
                                                            <td>${{ item.custom_price }}<br><small class="text-muted"><i>Custom Price</i></small></td>
                                                            <td></td>
                                                        {% elif item.price %}
                                                            <td>${{ item.price }}</td>
                                                            {% if item.vendor %}
                                                                <td><a href="{% url 'parts_vendor' item.part.slug item.vendor %}" >{{ item.get_vendor_display }}</a></td>
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                        {% else %}
                                                            <td>N/A</td>
                                                            <td>{{ item.get_vendor_display }}</td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>${{ item.price }}</td>
                                                        <td></td>
                                                    {% endif %}
                                                </tr>

                                                {% if item|class_name == 'CustomItem' %}
                                                    {% if item.url %}
                                                        <tr class="toggle-url alert alert-warning">
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="5">
                                                                <div>
                                                                    <b>Warning:</b> This is a user provided URL.  Follow at your own risk.
                                                                </div>
                                                                <div>
                                                                    <b>{{ item.url }}</b>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}

                                            {% endfor %}
                                        {% endfor %}

                                        <tr>
                                            <td class="td-border-bottom" colspan="7"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td align="right"><b>Total:</b></td>
                                            <td><b>{{ build_display.price }}</b></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>There are no items in this build.</p>
                        {% endif %}

                {% endif %}

        {% else %}
            <h3>{{ username }} hasn't completed any builds yet.</h3>
        {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('.user-url').click(function() {
                $(this).parents('tr').next('.toggle-url').slideToggle('fast');
                return false;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.build-description > table').addClass('table table-bordered table-responsive');

            $('.user-url').click(function () {
                $(this).parents('div').next('.build-custom-url').slideToggle('fast');
                return false;
            });

            startSlick('.img-carousel-profile');

            $("#lightgallery").lightGallery({
                selector: '.lightbox-img',
                counter: false
            });
        });

    </script>
{% endblock %}