{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}{{ username }} - Profile | BYOG{% endblock %}

{% block content %}
    <div class="container-fluid parallax-window image-banner">
        <div class="row">
            <div class="col-md-12 user-banner">
                {% if user_image %}
                    {% thumbnail user_image "128x128" crop="center" as im %}
                        <a href="{{ user_image.url }}">
                            <img class="img-circle profile-image" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                        </a>
                    {% endthumbnail %}
                {% else %}
                    <img class="img-circle profile-image" src="{% static 'img/default_avatar.png' %}" width="128" height="128">
                {% endif %}
                <span class="profile-username"><b>{{ username }}</b></span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 profile">
                <div class="profile-nav">
                    <ul class="nav nav-tabs">
                        <li {% if profile_nav == 'about' %}class="active"{% endif %}><a href="{% url 'profile_user' username %}">Profile</a></li>
                        <li {% if profile_nav == 'lists' %}class="active"{% endif %}><a href="{% url 'profile_lists' username %}">Saved Lists</a></li>
                        <li {% if profile_nav == 'builds' %}class="active"{% endif %}><a href="{% url 'profile_builds' username %}">Complete Builds</a></li>
                        {% if request.user.username == username %}
                            <li {% if profile_nav == 'settings' %}class="active"{% endif %}><a href="{% url 'account_settings' username %}">Account Settings</a></li>
                        {% endif %}
                    </ul>
                </div>

                {% block profile %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
    $(document).ready(function(){

        {% if profile_image %}
            var image = "{{ profile_image.url }}";
        {% else %}
            var image = "{% static "img/default_profile_img.png" %}";
        {% endif %}

        $('.parallax-window').parallax({imageSrc: image});
    });
    </script>
{% endblock %}