server {
#       listen 80;
        listen 443 ssl;
        ssl_certificate /etc/letsencrypt/live/shiranai.moe/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/shiranai.moe/privkey.pem;
        server_name {{ domain }};

        location / {
                include         uwsgi_params;
                uwsgi_pass      unix://tmp/{{ codename }}.sock;
        }

        location /static {
                alias /home/lolid/sites/{{ domain }}/byog_static;
        }
        
        location /media {
            alias /home/lolid/sites/{{ domain }}/byog_media;
        }

        location /.well-known/acme-challenge/ {
                default_type "text/plain";
                root /home/lolid/sites/{{ domain }}/;
                allow all;
        }
        client_max_body_size 10M;
}

server {
        listen 80;
        server_name {{ domain }};
        return 301 https://$host$request_uri;
}

