[uwsgi]
uid = lolid
base = /home/%(uid)
plugins = python3, logfile

chdir = /home/lolid/sites/{{ domain }}/source
home = /home/lolid/.virtualenvs/byog
module = byog.wsgi:application

master = true
processes = 1

socket = /tmp/{{ codename }}.sock
chown-socket = www-data
chmod-socket = 660
vacuum = True

logger = file:/tmp/byog_err.log
req-logger = file:/tmp/byog_reqerr.log