{% extends 'base.html' %}
{% load parts_extras %}
{% load deslugify %}
{% load parts_extras %}

{% block head_title %}Choose A {{ title }} | BYOG{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-2 sidebar">
                <h4><i class="fa fa-filter fa-fw" aria-hidden="true"></i> Filters</h4>
                <hr>
                <div class="form" id="filter-sidebar">

                    <div class="filter-price" data-spec="price">
                        <small>Price</small>
                        <p>
                            <span id="price-min" class="pull-left" href="#">$0</span> <span id="price-max" class="pull-right" href="#">${{ max_price }}</span>
                            <br>
                            <input id="price-slider" value="" title="Price" data-slider-min="0" data-slider-max="{{ max_price }}" data-slider-value="[0, {{ max_price }}]" data-slider-tooltip="hide" />
                        </p>
                    </div>

                    <div class="filter-list" data-spec="rating">
                        <small>Rating</small>
                        <div class="checkbox">
                            <label><input type="checkbox" value="5">{{ 5|star_ratings }}</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="4">{{ 4|star_ratings }}</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="3">{{ 3|star_ratings }}</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="2">{{ 2|star_ratings }}</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="1">{{ 1|star_ratings }}</label>
                        </div>
                    </div>

                    <div class="filter-list" data-spec="manufacturer">
                        <small>Manufacturer</small>
                        {% for man in manufacturers %}
                            <div class="checkbox">
                                <label><input type="checkbox" value="{{ man }}">{{ man }}</label>
                            </div>
                        {% endfor %}
                    </div>

                    {% for key, value in specs.items %}
                        <div class="filter-list" data-spec="{{ key }}">
                            <small>{{ key|title|deslugify }}</small>
                            {% for val in value %}
                                <div class="checkbox">
                                    <label><input type="checkbox" value="{{ val }}">{{ val }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <hr>
                    <span><button class="btn btn-sm btn-primary" id="filter-button" type="submit"><i class="fa fa-filter fa-fw" aria-hidden="true"></i> Apply Filters</button></span>
                    <span><button class="btn btn-sm btn-danger" id="clear-filters" type="submit"><i class="fa fa-eraser fa-fw" aria-hidden="true"></i> Clear Filters</button></span>
                </div>
            </div>

            <div class="col-md-10 category-table">
                <h4>{% block part_title %}{% endblock %}</h4>
                <hr>
                <div>
                    <table class="table table-striped table-bordered" id="data-table">
                        <thead>
                        <tr>
                            <th>{{ title }}</th>
                            {% for th in thead %}
                                <th>{{ th }}</th>
                            {% endfor %}
                            <th>Rating</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            var categoryURL = "{% url 'parts_dt' category %}";
            initDT(categoryURL);
        });

        var priceSlider = $('#price-slider').slider({});
        priceSlider.on("change", function(slideEvt) {
            $("#price-min").text('$' + slideEvt.value.newValue[0]);
            $("#price-max").text('$' + slideEvt.value.newValue[1]);
        });
    </script>
{% endblock %}
