{% extends 'base.html' %}

{% block head_title %}All Part Categories | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for category in categories %}
                    <h3>{{ category.0 }}</h3>
                    <ul>
                        {% for subcat in category.1 %}

                            <li><a href="{% url 'parts_list_category' subcat.0 %}">{{ subcat.1 }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}