{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load parts_extras %}

{% block head_title %}{{ review.part }} Review By {{ review.user }} | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row review">
                    <div class="col-md-1">
                        {% if review.user.userprofile.user_image %}
                            <a href="{{ review.user.get_absolute_url }}">
                                {% thumbnail review.user.userprofile.user_image "48x48" crop="center" as im %}
                                    <img class="img-circle profile-image-review" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                                {% endthumbnail %}
                            </a>
                        {% else %}
                            <a href="{{ review.user.get_absolute_url }}">
                                <img class="img-circle profile-image-review" src="{% static 'img/default_avatar.png' %}" width="48" height="48">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-11 review-body">

                        <b><a href="{{ review.user.get_absolute_url }}">{{ review.user.username }}</a></b>
                        {% comment %} This filter converts the int rating into stars {% endcomment %}
                        <div class="review-star"><p>{{ review.rating|star_ratings }} from <a href="{{ review.build.get_absolute_url }}">{{ review.build.title }}</a></p></div>

                        <article>{{ review.review|linebreaks }}</article>

                        {% if review.percent_helpful %}
                            <hr class="review-hr">
                            <i class="text-muted">{{ review.percent_helpful }}</i>
                        {% endif %}

                         {% if user.is_authenticated %}
                             {% if not review.percent_helpful %}
                                 <hr class="review-hr">
                             {% endif %}
                            <p class="text-muted"><i>Did you find this review helpful?</i></p>
                             <div class="review-controls">
                                <span><a href="javascript:void(0);" onclick="VoteReview({{ review.id }}, true)" class="btn btn-default btn-sm review-button review-helpful"><i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i> Yes</a></span>
                                <span><a href="javascript:void(0);" onclick="VoteReview({{ review.id }}, false)" class="btn btn-default btn-sm review-button review-unhelpful"><i class="fa fa-thumbs-down fa-fw" aria-hidden="true"></i> No</a></span>
                             </div>
                        {% endif %}
                    </div>
                </div>
                {% if disqus %}
                    {{ disqus|safe }}
                {% endif %}

                <div id="disqus_thread"></div>
                <script>
                    {% if not disqus %}
                        var disqus_config = function () {
                            this.page.url = '{{ site }}';
                            this.page.identifier = '{{ build.slug }}';
                        };
                    {% endif %}

                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//shiranai-moe.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            ReviewVote();
        })
    </script>
{% endblock %}