{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load parts_extras %}

{% block head_title %}{{ part }} Reviews | BYOG{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="row review">
                            <div class="col-md-1">
                                {% if review.user.userprofile.user_image %}
                                    <a href="{{ review.user.get_absolute_url }}">
                                        {% thumbnail review.user.userprofile.user_image "48x48" crop="center" as im %}
                                            <img class="img-circle profile-image-review" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                                        {% endthumbnail %}
                                    </a>
                                {% else %}
                                    <a href="{{ review.user.get_absolute_url }}">
                                            <img class="img-circle profile-image-review" src="{{ im.url }}" width="48" height="48">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-11 review-body">

                                <b><a href="{{ review.user.get_absolute_url }}">{{ review.user.username }}</a></b>
                                {% comment %} This filter converts the int rating into stars {% endcomment %}
                                <div class="review-star"><p>{{ review.rating|star_ratings }} from <a href="{{ review.build.get_absolute_url }}">{{ review.build.title }}</a></p></div>

                                <article>{{ review.review|linebreaks }}</article>

                                {% if review.percent_helpful %}
                                    <hr class="review-hr">
                                    <i class="text-muted">{{ review.percent_helpful }}</i>
                                {% endif %}

                                 {% if user.is_authenticated %}
                                     {% if not review.percent_helpful %}
                                         <hr class="review-hr">
                                     {% endif %}
                                    <p class="text-muted"><i>Did you find this review helpful?</i></p>
                                     <div class="review-controls">
                                        <span><a href="javascript:void(0);" onclick="VoteReview({{ review.id }}, true)" class="btn btn-default btn-sm review-button review-helpful"><i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i> Yes</a></span>
                                        <span><a href="javascript:void(0);" onclick="VoteReview({{ review.id }}, false)" class="btn btn-default btn-sm review-button review-unhelpful"><i class="fa fa-thumbs-down fa-fw" aria-hidden="true"></i> No</a></span>
                                     </div>
                                     <br>
                                {% endif %}
                                <p><a href="{{ review.get_absolute_url }}">Comment</a></p>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <p>No reviews found</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            ReviewVote();
        })
    </script>
{% endblock %}