{% extends 'base.html' %}
{% load staticfiles %}
{% load parts_extras %}
{% load thumbnail %}

{% block head_title %}{{ part }} - {{ part.get_category_display }}| BYOG{% endblock %}

{% block content %}

    <div class="container-fluid part-banner">
        <div class="row">
            <div class="col-md-12">
                <p class="part-category">
                    <b><a href="{% url 'parts_list_category' part.category %}" class=" text-muted ">{{ part.get_category_display|upper }}</a></b>
                </p>
                <h1 class="part-header">{{ part }}</h1>
                <div id="part-star">
                    {{ avg_rating|star_float }}
                </div>
                <p>( {% if avg_rating %}{{ avg_rating }}{% else %}0.0{% endif %} Average / {{ total_reviews }} {% if total_reviews > 1 or total_reviews == 0 %}Ratings{% else %}Rating{% endif %} )</p>
                <form class="part-add-form" role="form" method="post" action="{% url 'item_add' part.id %}">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add To Your List</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if part.partimage_set.count > 0 %}
                <div class="img-carousel" id="lightgallery">
                {% for img in part.partimage_set.all %}
                    <div>
                        <a href="{{ img.image.url }}" class="lightbox-img">
                            {% thumbnail img.image "128x128" crop="center" as im %}
                                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                            {% endthumbnail %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="jumbotron">
                    <img class="center-block" src="{% static 'img/No_image_available.png' %}"/>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <h4>Specs</h4>
                <hr>
                <p><small>Manufacturer:</small></p>
                <p>{{ part.manufacturer }}</p>
                <hr>
                <p><small>Product #:</small></p>
                <p>{{ part.product_num }}</p>
                <hr>
                {% block spect_table %}
                    {% for key, value in part.specs.items %}
                        <p><small>{{ key|strip_underscore|title }}:</small></p>
                        <p>{{ value }}</p>
                        {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="col-md-10">
                <h4 class="serif-text">Prices</h4>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>Vendor</th>
                            <th>Base Price</th>
                            <th>Promo</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for price in part.pricebase_set.all %}
                            <tr>
                                <td align="center">
                                    <a class="vendor-logo" href="{% url 'parts_vendor' part.slug price.vendor %}">
                                    {% if price.vendor == 'PA' %}
                                        <img src="{% static 'img/logos/primary.jpg' %}"/>
                                    {% elif price.vendor == 'MUSA' %}
                                        <img src="{% static 'img/logos/midway.png' %}"/>
                                    {% elif price.vendor == 'PSA' %}
                                        <img src="{% static 'img/logos/palmetto.png' %}"/>
                                    {% elif price.vendor == 'BRWN' %}
                                        <img src="{% static 'img/logos/brownells.png' %}"/>
                                    {% endif %}
                                    </a>
                                </td>
                                <td>
                                    {% if price.price %}
                                        {{ price.get_currency_display }}{{ price.price }}
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    {% if price.price %}
                                        <b>{{ price.get_currency_display }}{{ price.price }}</b>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h4>Price History</h4>
                <hr>
                <img src="{% static 'img/ULnjFuZ.jpg' %}" class="img-responsive"/>
                <h4 class="serif-text">Reviews</h4>
                <hr>
                {% comment %}reviews is a dictionary with usernames for a key and a tuple (review, user profile image) as a value{% endcomment %}
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="row review">
                            <div class="col-md-1">
                                {% if review.user.userprofile.user_image %}
                                    <a href="{{ review.user.get_absolute_url }}">
                                        {% thumbnail review.user.userprofile.user_image "48x48" crop="center" as im %}
                                            <img class="img-circle profile-image-review" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
                                        {% endthumbnail %}
                                    </a>
                                {% else %}
                                    <a href="{{ review.user.get_absolute_url }}">
                                        <img class="img-circle profile-image-review" src="{% static 'img/default_avatar.png' %}" width="48" height="48">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-11 review-body">

                                <b><a href="{{ review.user.get_absolute_url }}">{{ review.user.username }}</a></b>
                                {% comment %} This filter converts the int rating into stars {% endcomment %}
                                <div class="review-star"><p>{{ review.rating|star_ratings }} from <a href="{{ review.build.get_absolute_url }}">{{ review.build.title }}</a></p></div>

                                <article>{{ review.review|linebreaks }}</article>
                                <hr class="review-hr">

                                {% if review.percent_helpful %}
                                    <i class="text-muted">{{ review.percent_helpful }}</i>
                                {% endif %}

                                 {% if user.is_authenticated %}
                                    <p class="text-muted"><i>Did you find this review helpful?</i></p>
                                     <div class="review-controls">
                                        <span><a href="javascript:void(0);" onclick="VoteReview({{ review.id }}, true)" class="btn btn-default btn-sm review-button review-helpful"><i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i> Yes</a></span>
                                        <span><a href="javascript:void(0);" onclick="VoteReview({{ review.id }}, false)" class="btn btn-default btn-sm review-button review-unhelpful"><i class="fa fa-thumbs-down fa-fw" aria-hidden="true"></i> No</a></span>
                                     </div>
                                     <br>
                                {% endif %}
                                <p><a href="{{ review.get_absolute_url }}">Comment</a></p>
                            </div>
                        </div>
                    {% endfor %}
                <h4><a href="{% url 'parts_review_list' part.slug part.name|slugify %}">See all reviews</a></h4>
                {% else %}
                    <p>No reviews found</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            startSlick();

            $('.review-helpful').click(function () {
                $(this).removeClass('btn-default').addClass('review-btn-success');
                $(this).parents('.review-controls').find('.review-unhelpful').removeClass('review-btn-danger').addClass('btn-default');
            });

            $('.review-unhelpful').click(function () {
                $(this).removeClass('btn-default').addClass('review-btn-danger');
                $(this).parents('.review-controls').find('.review-helpful').removeClass('review-btn-success').addClass('btn-default');
            });

            $('article').readmore();

            $("#lightgallery").lightGallery({
                selector: '.lightbox-img',
                counter: false
            });
        });
    </script>
{% endblock %}